In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C://CompletePython//DataScience//BigData//Sales_File1_to_Pandas.csv")

In [3]:
df.head(2)

,CustomerID,CompanyName,City,PostalCode,SalesOrderID,OrderDate,ProductID,UnitPrice,OrderQty,ProductName,Product_864_Bought
0,30027,Engineered Bike Systems,Oxnard,93030,71816,2008-06-01T00:00:00.0000000,953,728.910,1,"Touring-2000 Blue, 60",NO
1,30027,Engineered Bike Systems,Oxnard,93030,71816,2008-06-01T00:00:00.0000000,954,1430.442,1,"Touring-1000 Yellow, 46",NO

In [4]:
df = df.drop(['ProductID', 'ProductName'], axis=1)

In [5]:
newdf = df.drop_duplicates(
  subset = ['CustomerID', 'Product_864_Bought'],keep = 'last').reset_index(drop = True)

In [6]:
newdf.shape

(42, 9)

In [7]:
newdf['CustomerID'].value_counts()

29982    2
29546    2
29957    2
29796    2
29877    2
29736    2
29584    2
29929    2
29485    2
29612    2
30019    1
30089    1
30113    1
29938    1
29741    1
30072    1
29922    1
29568    1
29932    1
29660    1
29531    1
29847    1
30102    1
29653    1
30050    1
29975    1
30033    1
29644    1
30027    1
30025    1
29638    1
29781    1
Name: CustomerID, dtype: int64

In [8]:
newdf = newdf.sort_values(by='Product_864_Bought', ascending=False)
newdf = newdf.drop_duplicates(subset='CustomerID', keep="first")
newdf.shape

(32, 9)

In [9]:
newdf['CustomerID'].value_counts()

29568    1
30019    1
29612    1
30072    1
29877    1
29938    1
29485    1
29741    1
29932    1
29546    1
29929    1
29736    1
29653    1
29796    1
29922    1
30113    1
29982    1
29660    1
29531    1
29975    1
30102    1
29781    1
30050    1
30033    1
29584    1
29644    1
30027    1
30089    1
29638    1
29957    1
29847    1
30025    1
Name: CustomerID, dtype: int64

In [10]:
newdf.to_csv("C://CompletePython//DataScience//BigData//Final_csv_for_Task1.csv")

In [11]:
newdf.head(40)

,CustomerID,CompanyName,City,PostalCode,SalesOrderID,OrderDate,UnitPrice,OrderQty,Product_864_Bought
39,29736,Action Bicycle Specialists,Woolston,WA1 4SY,71784,2008-06-01T00:00:00.0000000,34.9250,23,YES
5,29584,Futuristic Bikes,Culver City,90232,71895,2008-06-01T00:00:00.0000000,38.1000,3,YES
29,29612,Channel Outlet,High Wycombe,HP10 9QY,71885,2008-06-01T00:00:00.0000000,38.1000,3,YES
8,29485,Professional Sales and Service,Van Nuys,91411,71782,2008-06-01T00:00:00.0000000,38.1000,6,YES
35,29929,Many Bikes Store,Fullerton,92831,71902,2008-06-01T00:00:00.0000000,38.1000,6,YES
18,29957,Eastside Department Store,Union City,94587,71783,2008-06-01T00:00:00.0000000,34.9250,15,YES
11,29982,Discount Tours,Daly City,94015,71920,2008-06-01T00:00:00.0000000,38.1000,3,YES
24,29796,Riding Cycles,Liverpool,L4 4HB,71797,2008-06-01T00:00:00.0000000,34.9250,23,YES
13,29546,Bulk Discount Store,London,SE1 8HL,71938,2008-06-01T00:00:00.0000000,38.1000,4,YES
15,29877,Paints and Solvents Company,Englewood,80110,71897,2008-06-01T00:00:00.0000000,38.1000,1,YES
0,30027,Engineered Bike Systems,Oxnard,93030,71816,2008-06-01T00:00:00.0000000,63.9000,1,NO
31,30089,Thrifty Parts and Sales,Oxnard,93030,71815,2008-06-01T00:00:00.0000000,5.3940,2,NO
26,29922,Closest Bicycle Store,Milton Keynes,MK8 8ZD,71832,2008-06-01T00:00:00.0000000,158.4300,1,NO
27,30102,Sports Store,Cambridge,CB4 4BZ,71846,2008-06-01T00:00:00.0000000,461.6940,2,NO
30,30025,Essential Bike Works,Abingdon,OX14 4SE,71917,2008-06-01T00:00:00.0000000,5.3940,7,NO
33,29932,Instruments and Parts Company,Gloucestershire,GL7 1RY,71898,2008-06-01T00:00:00.0000000,445.4100,2,NO
32,30050,Metropolitan Bicycle Supply,London,W1N 9FA,71936,2008-06-01T00:00:00.0000000,23.4840,6,NO
34,29975,Sports Products Store,Santa Ana,92701,71863,2008-06-01T00:00:00.0000000,24.2940,2,NO
37,29660,Extreme Riding Supplies,Sherman Oaks,91403,71796,2008-06-01T00:00:00.0000000,602.3460,2,NO
38,29781,The Bicycle Accessories Company,Alhambra,91801,71923,2008-06-01T00:00:00.0000000,5.2142,14,NO
21,30113,Nearby Cycle Shop,West Sussex,RH15 9UD,71780,2008-06-01T00:00:00.0000000,32.9940,1,NO
23,29531,Remarkable Bike Store,Las Vegas,89106,71935,2008-06-01T00:00:00.0000000,5.2142,13,NO
10,29741,Central Bicycle Specialists,Maidenhead,SL67RJ,71946,2008-06-01T00:00:00.0000000,31.5840,1,NO
2,30033,Transport Bikes,Sandy,84070,71856,2008-06-01T00:00:00.0000000,54.8940,1,NO
3,29938,Trailblazing Sports,Cerritos,90703,71845,2008-06-01T00:00:00.0000000,12.1440,3,NO
6,29638,Aerobic Exercise Company,Camarillo,93010,71915,2008-06-01T00:00:00.0000000,48.5940,1,NO
7,29653,Thrilling Bike Tours,Santa Fe,87501,71858,2008-06-01T00:00:00.0000000,5.3940,3,NO
22,29568,Coalition Bike Company,El Segundo,90245,71899,2008-06-01T00:00:00.0000000,48.5940,1,NO
17,29847,Good Toys,Auburn,95603,71774,2008-06-01T00:00:00.0000000,356.8980,1,NO
20,29644,Vigorous Sports Store,Oxon,OX16 8RS,71867,2008-06-01T00:00:00.0000000,858.9000,1,NO
1,30072,West Side Mart,Wokingham,RG41 1QW,71776,2008-06-01T00:00:00.0000000,63.9000,1,NO
41,30019,Tachometers and Accessories,Milton Keynes,MK8 8DF,71831,2008-06-01T00:00:00.0000000,41.9940,6,NO